.contact-all {
    height: 70vh;
    background-color: #939597;
    color: white;

}

.contact-main {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

.contact-header {
    text-align: center;
}

.contact-button {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.contact-btn-div {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}