.header-main {
    height: 100vh;
    color: black;
    background-color: #f2e9e4;
}

.header-nav {
    padding: 20px;
    margin-right: 5%;
    font-size: 1.8rem;

}
 

.header-main-text {
    background-color: #9a8c98;
    height: 40vh;
   
}




.header-main-p {
    text-align: center;
    font-style: italic;
    width: 80%;
    max-width: 500px;
    margin: auto;
    color: #f2e9e4;
    font-size: 1.2rem;
}

.header-main-h1 {
    text-align: center;
    font-size: 1.9rem;
    color: #f2e9e4;
}
