.header-main {
    height: 100vh;
    background-color: #939597;
}



.header-text-box {
    margin: auto;
    margin-top: 100px;
    text-align: center;
    padding: 5%;
    height: 35vh;
    background-color: #212529;
    
    
}



.header-text-info {
    font-style: italic;
}

.header-texts {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

.header-card {
    text-align: center;
    width: 100%;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.header-boxes {
    margin-top: -50px ;
}

@media only screen and (max-width: 600px) {
    .header-main {
        height: 170vh;
    }
    .header-card {
        margin-top: 20%;
        
    }
    .header-boxes {
        margin-top: 0px ;
    
    }
    .header-text-box {
        margin-top: 10px;
        
    }
  }

  @media only screen and (max-height: 700px) {
    .header-main {
        height: 200vh;
    }
   
  }